//* VARIABLES
$primary-color: #d37367;
$secondary-color: #e7d4c4;
$bg-color: #090b0a;
$font-color: #fff;
$light-white: #d0caca;
$pink: #f6d3e1;
$pink1: #e5aeb5;
$roboto: "Roboto", sans-serif;
$day-one: "Days One", sans-serif;
