//*SECTION BAND
.band-description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202022;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .band-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .band-description p {
    font-size: 16px;
    line-height: 1.6;
  }